In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
appl_df = yf.download('AAPL', start="2010-01-01", progress=False)

In [3]:
appl_df['Price'] = appl_df.Open.shift(-1)

In [4]:
appl_df

,Open,High,Low,Close,Adj Close,Volume,Price
Date,,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.478996,493729600,7.664286
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.490200,601904800,7.656429
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.386964,552160000,7.562500
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.375156,477131200,7.510714
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.417542,447610800,7.600000
...,...,...,...,...,...,...,...
2024-01-17,181.270004,182.929993,180.300003,182.679993,182.679993,47317400,186.089996
2024-01-18,186.089996,189.139999,185.830002,188.630005,188.630005,78005800,189.330002
2024-01-19,189.330002,191.949997,188.820007,191.559998,191.559998,68741000,192.300003
2024-01-22,192.300003,195.330002,192.259995,193.889999,193.889999,60133900,195.020004
2024-01-23,195.020004,195.750000,193.830002,195.179993,195.179993,42300900,NaN

In [5]:
def calc_ma(n):
    appl_df['SMA'] = appl_df.Close.rolling(n).mean()

In [7]:
def backtest(df, n):
    calc_ma(n)
    in_position = False
    profits = []
    for index, row in df.iterrows():
        if not in_position:
            if row.Close > row.SMA:
                buyprice = row.Price
                in_position = True 
        if in_position:
            if row.Close < row.SMA:
               profit = (row.Price - buyprice)/buyprice 
               profits.append(profit)
               in_position = False
    gain = (pd.Series(profits) + 1).prod()   
    return gain

In [8]:
backtest(appl_df, 10)

9.055902199542375

In [9]:
(appl_df.Close.pct_change()+1).prod()

25.536376046838242

In [10]:
appl_df

,Open,High,Low,Close,Adj Close,Volume,Price,SMA
Date,,,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.478996,493729600,7.664286,NaN
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.490200,601904800,7.656429,NaN
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.386964,552160000,7.562500,NaN
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.375156,477131200,7.510714,NaN
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.417542,447610800,7.600000,NaN
...,...,...,...,...,...,...,...,...
2024-01-17,181.270004,182.929993,180.300003,182.679993,182.679993,47317400,186.089996,184.204999
2024-01-18,186.089996,189.139999,185.830002,188.630005,188.630005,78005800,189.330002,184.642999
2024-01-19,189.330002,191.949997,188.820007,191.559998,191.559998,68741000,192.300003,185.607999
2024-01-22,192.300003,195.330002,192.259995,193.889999,193.889999,60133900,195.020004,186.878999
2024-01-23,195.020004,195.750000,193.830002,195.179993,195.179993,42300900,NaN,187.840999

In [13]:
for n in np.arange(10,205,5):
    print('parameter:' + str(n))
    print(backtest(appl_df,n))

parameter:10
8.879340735446899
parameter:15
8.88317516704676
parameter:20
17.049879073032407
parameter:25
15.315037804463863
parameter:30
10.820800859972424
parameter:35
8.975736034083823
parameter:40
10.514616982521902
parameter:45
6.4112579717192215
parameter:50
9.747274685930563
parameter:55
8.40532614546973
parameter:60
8.39901669318179
parameter:65
8.716014203611007
parameter:70
6.5486800518101385
parameter:75
6.119896499415916
parameter:80
5.319985757363499
parameter:85
6.173546850055333
parameter:90
6.013969227763991
parameter:95
5.970244082621411
parameter:100
6.502310964867428
parameter:105
7.425689023100384
parameter:110
7.914737877592004
parameter:115
8.622961346505429
parameter:120
7.5867348217958135
parameter:125
7.9200663108102
parameter:130
8.579106878053913
parameter:135
8.431212072468384
parameter:140
9.668396779562073
parameter:145
10.897552129340816
parameter:150
13.062413594815556
parameter:155
14.351360286565388
parameter:160
14.165229205261253
parameter:165
16.00186004202332
parameter:170
14.103372192352227
parameter:175
12.94594322888185
parameter:180
12.505901306692296
parameter:185
13.008235571973374
parameter:190
13.327258773449365
parameter:195
11.018739919063714
parameter:200
10.390721381445335